@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: calc(20px + 4vh);
  line-height: calc(20px + 6vh);
  /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #f3327d, 0 0 15px #f3327d, 0 0 20px #f3327d,
    0 0 40px #f3327d, 0 0 60px #f3327d, 0 0 10px #f3327d, 0 0 98px #f3327d;
  color: #fff6a9;
  font-family: "Sacramento", cursive;
  letter-spacing: 3;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

body {
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #f3327d, 0 0 15px #f3327d, 0 0 20px #f3327d,
      0 0 40px #f3327d, 0 0 60px #f3327d, 0 0 10px #f3327d, 0 0 98px #f3327d;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #f3327d, 0 0 15px #f3327d, 0 0 20px #f3327d,
      0 0 40px #f3327d, 0 0 60px #f3327d, 0 0 10px #f3327d, 0 0 98px #f3327d;
    color: #fff6a9;
  }
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  display: block;
  width: 260px;
  height: 100px;
  line-height: 100px;
  font-size: 36px;
  font-family: sans-serif;
  text-decoration: none;
  color: #f3327d;
  border: 2px solid #f3327d;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  cursor: pointer;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a span {
  position: relative;
  z-index: 2;
}

a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #f3327d;
  transition: all 0.35s;
}

a:hover {
  color: white;
}

a:hover:after {
  width: 100%;
}
